@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\000031}}
body {
  background-color: #282b2f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\000033}}
body p {
  font-family: 'Fira Sans', sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\000036}}
body h2 {
  font-family: 'Fira Sans', sans-serif;
}
/* Colors */
/*Making grid*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000328}}
.grid {
  display: grid;
  grid-template-areas: "a a a a a a a a a a a a" "b b b b b b c c c c c c" "e e e e e e e e e e e e" "f f f f f f g g g h h h" "j j j j j j j j j j j j" "k k k k k k l l l l l l" "m m m m m m m m m m m m";
  grid-template-columns: repeat(12, 8.33%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000340}}
.grid-item {
  padding: 90px 210px;
  min-height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000343}}
.grid-item-header {
  display: grid;
  height: 600px;
  grid-area: a;
  background: url(../img/HERO.png) center no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000349}}
.grid-item-header .logo {
  background: url(../img/LOGO.png) center no-repeat;
  width: 80px;
  height: 80px;
  margin-bottom: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000355}}
.grid-item-header h2 {
  font-size: 72px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000360}}
.grid-item-header p {
  font-size: 30px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 45px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000366}}
.grid-item-header .brheader {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000370}}
.grid-item-red {
  height: 500px;
  grid-area: b;
  background: url(../img/red-man.png) center no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000376}}
.grid-item-white {
  grid-area: c;
  background-color: #f3f1ef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000379}}
.grid-item-white h2 {
  margin-bottom: 40px;
  color: #666666;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000384}}
.grid-item-white p {
  font-family: FiraSans;
  color: #666666;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000392}}
.grid-item-image-block {
  padding: 0;
  font-size: 0px;
  grid-area: e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000396}}
.grid-item-image-block a {
  display: inline-block;
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\0000399}}
.grid-item-image-block a:hover div img {
  opacity: 0.8;
  /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
  transform: scale(1.05);
  /* Увеличение картинки */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003103}}
.grid-item-image-block a .blacking {
  background: #000;
  /* У блока, оборачивающего картинку при наведении будет просвечивать черный фон */
  overflow: hidden;
  /* Ограничиваем видиую область */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003106}}
.grid-item-image-block a .blacking img {
  transition: opacity 300ms linear, transform 300ms linear;
  /* Плавное изменение прозрачности и увеличения */
  width: 100%;
  height: auto;
  display: block;
  /* Убираем полосу под картинкий */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003116}}
.grid-item-instagram-form {
  grid-area: f;
  background-color: #3f729b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003120}}
.grid-item-instagram-form h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #f9f9f9;
  margin-bottom: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003125}}
.grid-item-instagram-form p {
  font-family: FiraSans;
  color: #f9f9f9;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003131}}
.grid-item-skiing {
  grid-area: g;
  background: url(../img/skiis.png);
  background-size: cover;
  width: auto;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003139}}
.grid-item-empty-blue {
  grid-area: h;
  background-color: #3f729b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003143}}
.grid-item-headphones {
  padding: 0;
  background: url(../img/photo2.png) center no-repeat;
  background-size: cover;
  min-height: 500px;
  grid-area: j;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003149}}
.grid-item-headphones .form-wrapper {
  margin-left: 25%;
  width: 25%;
  background-color: #212227;
  color: #f9f9f9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003154}}
.grid-item-headphones .form-wrapper .self-form {
  padding: 70px 0px 40px 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003156}}
.grid-item-headphones .form-wrapper .self-form h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #2ebd59;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003161}}
.grid-item-headphones .form-wrapper .self-form p {
  color: #f9f9f9;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 21px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003168}}
.grid-item-headphones .form-wrapper .self-form a {
  margin-top: 50px;
  text-decoration: none;
  font-size: 18px;
  color: #2ebd59;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #2ebd59;
  border-radius: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003177}}
.grid-item-headphones .form-wrapper .self-form a:hover {
  color: #fefefe;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-color: #f9f9f9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003186}}
.grid-item-headphones .form-wrapper .self-form .btn {
  margin-top: 40px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003193}}
.grid-item-headphones .br-header {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003198}}
.grid-item-spotify-form {
  grid-area: k;
  background-color: #2ebd59;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003201}}
.grid-item-spotify-form h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #f9f9f9;
  margin-bottom: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003206}}
.grid-item-spotify-form p {
  font-family: FiraSans;
  color: #f9f9f9;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003211}}
.grid-item-itunes-form {
  background-color: #282b2f;
  min-height: 50px;
  grid-area: l;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003215}}
.grid-item-itunes-form h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #f9f9f9;
  margin-bottom: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003220}}
.grid-item-itunes-form p {
  font-family: FiraSans;
  color: #f9f9f9;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003225}}
.grid-item-footer {
  display: grid;
  grid-template-areas: "a a a a b b b c c c c c";
  min-height: 50px;
  grid-area: m;
  background-color: #212227;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003231}}
.grid-item-footer h2 {
  color: #f9f9f9;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003238}}
.grid-item-footer p {
  color: #919191;
  font-size: 14px;
  margin-bottom: 40px;
  text-align: left;
  font-weight: 300;
  line-height: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003247}}
.grid-item-footer ul {
  color: #919191;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003250}}
.grid-item-footer-form {
  padding: 0px 150px 0px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003255}}
.grid-item .follow-form {
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003257}}
.grid-item .follow-form h2 {
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003260}}
.grid-item .follow-form a {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  color: #666666;
  text-align: center;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003267}}
.grid-item .follow-form a img {
  vertical-align: bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003271}}
.grid-item .follow-form .socials-ico {
  height: 18px;
  width: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003276}}
.grid-item .subscribe-form {
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003278}}
.grid-item .subscribe-form h2 {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003281}}
.grid-item .subscribe-form p {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003284}}
.grid-item .subscribe-form input {
  width: 90%;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(144, 145, 147, 0.4);
  border-radius: 7px;
  margin-bottom: 50px;
  padding: 18px 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003293}}
.grid-item .subscribe-form a {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003298}}
.music-link {
  display: block;
  width: 250px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
  font-size: 18px;
  color: #f9f9f9;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #f9f9f9;
  border-radius: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003311}}
.music-link:hover {
  color: #fefefe;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-color: #f9f9f9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 1400px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003321}}
  .grid-item {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003324}}
  .grid-item-image-block {
    padding: 0;
  }
}
@media (max-width: 999px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003330}}
  .grid {
    grid-template-areas: "a" "c" "e" "f" "j" "k" "l" "m";
    grid-template-columns: repeat(1, 100%);
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003336}}
  .grid-item h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003341}}
  .grid-item p {
    text-align: center;
    font-size: 18px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003345}}
  .grid-item-instagram-form,
  .grid-item-itunes-form,
  .grid-item-spotify-form {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003348}}
  .grid-item-instagram-form a,
  .grid-item-itunes-form a,
  .grid-item-spotify-form a {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003355}}
  .grid-item-header {
    height: 300px;
    padding: 20px 20px 40px 20px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003358}}
  .grid-item-header .logo {
    display: none;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003362}}
  .grid-item-white {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003366}}
  .grid-item-headphones {
    background: url(../img/headphones.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: 0;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003372}}
  .grid-item-headphones .form-wrapper {
    margin: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003378}}
  .grid-item-headphones .form-wrapper .self-form h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003383}}
  .grid-item-headphones .form-wrapper .self-form p {
    text-align: center;
    font-size: 18px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003390}}
  .grid-item-footer {
    grid-template-areas: "c" "b" "a" "d";
    padding: 20px 20px 20px 20px;
    text-align: center;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003395}}
  .grid-item-footer h2 {
    color: #f9f9f9;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003401}}
  .grid-item-footer p {
    font-size: 14px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003405}}
  .grid-item-footer .inc-form h2 {
    margin-top: 30px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003410}}
  .grid-item-footer .contacts-form h2 {
    margin-bottom: 10px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003413}}
  .grid-item-footer .contacts-form p {
    margin-bottom: 10px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003419}}
  .grid-item-footer .follow-form ul li {
    display: inline-block;
    margin-right: 5px;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003425}}
  .grid-item-footer .subscribe-form {
    text-align: center;
    margin-top: 40px;
    width: 100%;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003429}}
  .grid-item-footer .subscribe-form h2 {
    text-align: center;
  }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/GridSite2\/less\/style\.less}line{font-family:\00003432}}
  .grid-item-footer .subscribe-form a {
    margin-right: 25px;
  }
}
