@charset "UTF-8";
/* Slider */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000320}}
.slick-loading .slick-list {
  background: #ffffff url('ajax-loader.gif') center center no-repeat;
}
/* Arrows */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000325}}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000343}}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000347}}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000351}}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000356}}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000377}}
.slick-prev {
  left: -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000379}}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000383}}
.slick-prev:before {
  content: "←";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000385}}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000391}}
.slick-next {
  right: -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000393}}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000397}}
.slick-next:before {
  content: "→";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\0000399}}
[dir="rtl"] .slick-next:before {
  content: "←";
}
/* Dots */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\00003107}}
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\00003111}}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\00003120}}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\00003128}}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\00003140}}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\00003142}}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\00003146}}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/sergejmitasov\/Desktop\/sergmit\.ru\/gipsolit\/slick\/slick-theme\.less}line{font-family:\00003163}}
.slick-dots li.slick-active button:before {
  color: #000000;
  opacity: 0.75;
}
